@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

*{

    font-family: 'Indie Flower', cursive;
    text-align: center;
    border: 1px solid black;
}

.header{

    height: 100vh;
}

.header_img{

    margin: 0;
    height: 100%;
    width: 100%;
}

.container{

    width: 80%;
    margin: 0 auto;
}